<template>
<div>
  <login-component></login-component>
</div>
</template>

<script>
import LoginComponent from "../components/Login/login"
export default {
name: "Login-page",
  components: {
  LoginComponent
  }
}
</script>

<style scoped>

</style>