<template>
  <div style="max-width: 40rem; margin: auto">
    <div class="form-reg">
      <v-form ref="form" @submit.prevent="loginUser" lazy-validation>
        <div>
          <v-text-field
              color="#8238CD"
              dense
              v-model="email"
              label="Email"
              prepend-inner-icon="mdi-email"
              :error-messages="emailErrors"
              outlined
          ></v-text-field>
        </div>
        <div>
          <v-text-field
              color="#8238CD"
              dense
              v-model="password"
              label="Password"
              :error-messages="passwordErrors"
              prepend-inner-icon="mdi-lock"
              :append-icon="showIcon1 ? 'mdi-eye' : 'mdi-eye-off'"
              :type="showIcon1 ? 'text' : 'password'"
              @click:append="showIcon1 = !showIcon1"
              outlined
          ></v-text-field>
        </div>
        <div style="text-align: center">
          <button class="btn btn-first-light" style="width: 100%; font-size: 1.6rem !important;" @submit="loginUser">
            Sign in
          </button>
        </div>
      </v-form>
    </div>
  </div>
</template>

<script>
import {required, minLength, maxLength, email} from "vuelidate/lib/validators";
import {EMAIL_VALIDATOR} from "../../filter";
export default {
  name: "Login",
  data: function () {
    return {
      dialog: false,
      valid: true,
      resetEmail: '',
      email: '',
      password: '',
      rePassword: '',
      showIcon1: false,
      showIcon2: false,
      error: false,
      errorMessage: '',
      Rules: [
        v => !!v || "Required",
        v => EMAIL_VALIDATOR(v) || "Must be a valid email"
      ],
      snackbar: false,
      snackbarMessage: ''
    }
  },
  validations: {
    email: {required, email,},
    password: { required, minLength: minLength(6), maxLength: maxLength(32) },
  },
  methods: {
    loginUser(){
      const self = this;
      self.$v.$touch();
    },
    gotoRegistration(){
      const self = this;
      self.$emit('sign-up')
    },
    sendResetPasswordLink(){
    },
    openDialog(){
      const self = this;
      self.dialog = true;
    }
  },
  computed: {
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email &&
      errors.push('Invalid Email');
      !this.$v.email.required &&
      errors.push('Required');
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.minLength &&
      errors.push('Must be at least 6 character long');
      !this.$v.password.maxLength &&
      errors.push('Can be at best 32 character long');
      !this.$v.password.required &&
      errors.push('Required');
      return errors;
    },
  },
}
</script>

<style scoped>
.form-reg{
  margin-top: 2rem !important;
  padding: 2rem;
  border-radius: 0.4rem;
  box-shadow: 0 .3rem .6rem 0 rgba(0, 0, 0, 0.16);
}
</style>