<template>
  <amplify-authenticator>
    <v-app>
      <v-main>
        <login-page></login-page>
      </v-main>
    </v-app>
    <amplify-sign-out></amplify-sign-out>
  </amplify-authenticator>
</template>

<script>
import LoginPage from "./views/Login-page"

export default {
  name: 'App',

  components: {
    LoginPage,
  },

  data: () => ({
    //
  }),
};
</script>
