:root{
    --primary-color:#5C2593;
    --primary-color-dark: #361656;
    --primary-color-light: #8238CD;
    --primary-color-outline: #F5EFFB;
    --secondary-color: #e64a17;
    --secondary-color-light:#EC6D44;
    --secondary-color-dark: #B83C13;
    --secondary-color-outline: #FDECE7;
    --third-color:#C000A3;
    --third-color-dark:#740062;
    --third-color-light:#FF0EDB;
    --third-color-outline:#FFF5FD;
    --fourth-color:#0D5BDD;
    --fourth-color-light:#4285F4;
    --fourth-color-dark:#07337D;
    --fourth-color-outline:#EBF2FE;
    --black-background:#212121;
    --black-light-foreground:#29262F;
    --captain: #FF6A19;
    --vicecap: #0D5BDD;
    --error-state: #DB0027;
    --warning-state: #D9A171;
    --grey-area: #8D86A6;
    --success-state: var(--success);
    --background-color: linear-gradient(
            120deg,
            rgba(110, 22, 153, 0.8),
            rgba(140, 14, 157, 0.8),
            rgba(92, 37, 147, 0.8)
    );
    --background-color-alt: linear-gradient(
            120deg,
            rgba(110, 22, 153, 0.9),
            rgba(140, 14, 157, 0.9),
            rgba(92, 37, 147, 0.9)
    );
    --round-background: linear-gradient(
            120deg,
            rgba(13, 91, 221, 0.8),
            rgba(130, 56, 205, 0.8),
            rgba(140, 14, 157, 0.8)
    );
    --single-background: linear-gradient(
            120deg,
            rgba(24, 24, 26, 0.8),
            rgba(235, 97, 35, 0.8)
    );
}
label {
    font-size: inherit !important;
    color: #3d4249;
}
html{
    font-size:10px;
}
div{
    font-size: 1.4rem;
}
@media (max-width: 1336px){
    html{
        font-size: 8px;
    }
}
@media (max-width: 1000px){
    html{
        font-size: 10px;
    }
}
.btn-first{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--primary-color) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-first-light{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--primary-color-light) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-first-dark{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--primary-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-first-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: transparent !important;
    color: var(--primary-color-dark) !important;
    border: 1px solid var(--primary-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-second{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--secondary-color) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-second-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: var(--secondary-color-outline) !important;
    color: var(--secondary-color-dark) !important;
    border: 1px solid var(--secondary-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-third{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--third-color) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-third-dark{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: var(--third-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-third-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: var(--third-color-outline) !important;
    color: var(--third-color-dark) !important;
    border: 1px solid var(--third-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-fourth{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: var(--fourth-color) !important;
    color: #ffffff !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-fourth-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: var(--fourth-color-outline) !important;
    color: var(--fourth-color-dark) !important;
    border: 1px solid var(--fourth-color-dark) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-success-color{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: var(--success-state) !important;
    color: #ffffff !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-success-color-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: white !important;
    color: var(--success-state) !important;
    border: 1px solid var(--success-state) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-error-color{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: #ffffff !important;
    background-color: var(--error-state) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-error-color-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    background-color: white !important;
    color: var(--error-state) !important;
    border: 1px solid var(--error-state) !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-neutral-action{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: #050505 !important;
    background-color: #cccccc !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.btn-neutral-outline{
    min-width: 8rem;
    font-size: 1.4rem !important;
    border-radius: 0.4rem;
    color: white !important;
    background-color: transparent !important;
    border: 1px solid white !important;
    box-shadow: none !important;
    transition: 0.5s;
    padding: 0.5rem 1rem !important;
    cursor: pointer;
}
.bt-ico-default{
    padding: 0.5rem;
    background-color: #cccccc;
    color: #3d4249 !important;
    border-radius: 0.4rem;
}
.bt-ico-primary{
    padding: 0.5rem;
    background-color: var(--primary-color-light);
    color: var(--primary-color-dark) !important;
    border-radius: 0.4rem;
}
.bt-ico-success{
    padding: 0.5rem;
    background-color: var(--success-state);
    color: white !important;
    border-radius: 0.4rem;
}